* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}  

body {
  display: flex;
  width: 100%;
  flex-direction: column;
}

body, figure {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  flex: 1 0 auto;
  width: 100%;

  max-width: 984px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 30px;
  padding-left: 12px;
  padding-right: 12px;
}

.card {
  width: 261px;
  margin: 0px auto 30px auto;
}

.card__image {
  display: block;
  margin: 0 auto;
  width: 102px;
  margin-bottom: 11px;
  border-radius: 16px;
}

.card__name {
  margin-bottom: 4px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4E5150;
}

.card__location {
  margin-bottom: 12px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #A9A9A9;
}

.card__tiles {
  display: flex;
  justify-content: space-between; 
}

.card__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 78px;
  height: 52px;
  background: #E5E5E5;
  border-radius: 12px;
}

.card__tile__count {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #4E5150;
}

.card__tile__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #BDBDBD;
}

.photos-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.photos {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  width: 100%;
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 13.16px;
}

.fig {
  width: 100%;
}

.photos__photo {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.fig1 {
  background: url("../img/photo1.png") no-repeat  center;
  background-size: cover;
  border-radius: 12px;
}

.fig2 {
  background: url("../img/photo2.png") no-repeat  center;
  background-size: cover;
  border-radius: 12px;

  grid-column: 2 / 4;
}

.fig3 {
  background: url("../img/photo3.png") no-repeat  center;
  background-size: cover;
  border-radius: 12px;

  grid-column: 1/3;
}

.fig4 {
  background: url("../img/photo4.png") no-repeat  center;
  background-size: cover;
  border-radius: 12px;

  grid-column: 3/4;
  grid-row: 2/4;
}

.fig5 {
  background: url("../img/photo6.png") no-repeat  center;
  background-size: cover;
  border-radius: 12px;
  grid-column: 1/2;
}

.fig6 {
  background: url("../img/photo5.png") no-repeat  center;
  background-size: cover;
  border-radius: 12px;
  grid-column: 2/3;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  padding: 24px 0px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #B9BDCF;
}

.footer--distinction {
  font-weight: 700;
  text-decoration: underline;
}

/* RESPONSBLE */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .card {
    width: 348px;
    margin-bottom: 16px;
    margin: 30px auto;
  }

  .card__image {
    width: 156px;
  }
  
  .card__name {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 29px;
  }
  
  .card__location {
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 17px;
  }
  
  .card__tile {
    width: 100px;
    height: 67px;
  }
  
  .card__tile__count {
    font-size: 18px;
    line-height: 22px;
  }
  
  .card__tile__title {
    font-size: 14px;
    line-height: 17px;
  }
}
